#parent{
    position: relative;
}
.big{
    background:white;
    width: 100%;
    height:400px
}
.small{
    background:white;
    width: 30%;
    height:60%;
    position: absolute;
    top: 160px;
    right: 545px;
    left: 10px;
    
}