#map{
    width: 57%;
    position:absolute;
    top: 25px;
    right: 10px;
    bottom: 0;
    border: 1px solid rgb(254, 252, 251) ;
  }
.overall{
  background: linear-gradient(45deg,black,deeppink);
  box-shadow: 0 5px 10px black;
}
.contact{
  background: linear-gradient(0deg,black,deeppink);
}
.fact{
  background: linear-gradient(0deg,black,deeppink);
}
.box{
  background: linear-gradient(45deg,black,deeppink);
}